---
---

@import "{{ site.theme }}";

.page-header {
  background-color: #8a0f15;
  background-image: linear-gradient(120deg, #4a0509, #d6202a);
}

.main-content {
  h1, h2, h3, h4, h5, h6 {
    color: #8a0f15;
  }

  a {
    color: #d6202a;

    &:hover {
      color: #4a0509;
    }
  }
}
